### IntelliJ IDEA ###
# يتجاهل مجلد إعدادات المشروع الخاصة بـ IntelliJ (الذي يحتوي على ملفات XML)
.idea/

# يتجاهل ملفات تعريف الوحدة (Module)
*.iml
*.ipr
*.iws

# يتجاهل مخرجات البناء (Compiled classes)
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store